<div class="question-reward">
  <div class="media-body">
    <strong>如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作！</strong>
  </div>
  <div class="media-right">
    <%= question_qrcode_pay_tag(@question) %>
  </div>


  <div class="modal fade" id="qrcode-pay-modal" tabindex="-1" role="dialog" aria-labelledby="myPayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="panel-heading">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <div class="info-head">
            <div class="avatar">
              <%= user_avatar_tag(@question.user, :normal) %>
            </div>
            <div class="infos-body">
              <i class="fa fa-quote-left pull-left"></i>
              如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作！
              <i class="fa fa-quote-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div id="qrcode-pay-body" class="center-block">
            <img class="center-block" src="<%= @question.question_pay_url %>">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>