<div class="row">
    <%= render "sidebar", user: @user %>

    <div class="col-md-8">
        <%= render "menu" %>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= render "questions", questions: @questions %>
            </div>
            <div class="panel-footer clearfix">
                <%= will_paginate @questions %>
            </div>
        </div>
    </div>

</div>