<div class="panel panel-default">
    <div class="panel-body">
        <div class="timeline">
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2012年10月15日"><span>10月15日</span> <span>2012年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/user/big_avatar/104.jpg"/></div>
                    <div class="cbp_tmlabel">
                        <p>2012年初，思寒和散步的sun一起打 dota 的时候一直被虐，于是发起 testerhome 项目。2012年，10月15日思寒发第一帖。</p>

                        <div class="timeline-info">
                            <a href="http://testerhome.com/test_sun">散步的sun（后来退出）</a>和
                            思寒做 testerhome 的时候，恒温在做另外一个论坛（test-china.org），
                            致力于打造一个小众高端的测试社区。Monkey 在走线下的移动测试会，恒温参加了其中一期，和 monkey 相识。思寒找到恒温说，你自己做，不如一起做。
                        </div>
                    </div>
                </li>


                <li>
                    <time class="cbp_tmtime" datetime="2013年10月21日"><span>10月21日</span> <span>2013年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/user/large_avatar/110.jpg"/></div>
                    <div class="cbp_tmlabel">
                        <p>2013年10月21日21:58，恒温宣布 TesterHome 上线！</p>

                        <div class="timeline-info">
                            12年到13年，TesterHome 摸索了很多模式。在失败了很多次后，最后选定了 RubyChina 的路线，
                            感谢 RubyChina 开源了他们的社区代码。
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2013年10月22日"><span>10月22日</span> <span>2013年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/user/large_avatar/118.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>2013年10月22日，Monkey 加入 TesterHome！</p>

                        <div class="timeline-info">
                            Monkey 的加入为社区带来相当大的流量，也给社区带来了非常多的机会，而他的移动测试会成为 TesterHome 线下的生力军。
                            Monkey 目前是社区的舵手，希望他能把 TesterHome 带到新的高度！
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2013年10月22日"><span>10月22日</span> <span>2013年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/195c25bc791891ce9b11e54a9de9d14a.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>TesterHome 引入 Appium。思寒发了关于 Appium 的第一帖！</p>
                        <div class="timeline-info">
                            事实证明，当初选择 Appium 切入移动测试领域是非常正确的，这两年过去了，Appium 逐渐成为热点，而 TesterHome 也成为
                            最为专业的 Appium 社区。
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2013年10月23日"><span>10月23日</span> <span>2013年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/ca846dfbbf94c4b0547a5226568db838.jpg"/></div>
                    <div class="cbp_tmlabel">
                        <p>Testerhome 论坛合伙人制度推出！</p>
                        <div class="timeline-info">
                            论坛的盈利模式很少，到今天也就为一些公司打打广告，赚些年终的红包钱。
                            但是如果有一天我们盈利了，我们愿意跟大家一起分享论坛成长带来的成就和喜悦。
                            我们愿意坦诚的公开这种制度。只希望论坛可以好好的发展起来。
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2013年11月05日"><span>11月05日</span> <span>2013年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/195c25bc791891ce9b11e54a9de9d14a.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>Testerhome 翻译的文档正式合并到了 appium 官方代码库！</p>
                        <div class="timeline-info">
                            这是第一次，TesterHome 对官方 github 做的 pull request。为后续和 Appium 的合作做了铺垫。
                        </div>
                    </div>
                </li>


                <li>
                    <time class="cbp_tmtime" datetime="2013年12月28日"><span>12月28日</span> <span>2013年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/bf5c21c833f1dc2ef2367f4fb98cf9b5.jpg"/></div>
                    <div class="cbp_tmlabel">
                        <p>Testerhome 第一次公开课成功举办！</p>
                        <div class="timeline-info">
                            这是第一次，TesterHome 在网络上的公开课，思寒主讲的 Appium 正式将 Appium 带入国内测试同学的世界。
                        </div>
                    </div>
                </li>


                <li>
                    <time class="cbp_tmtime" datetime="2014年1月06日"><span>1月6日</span> <span>2014年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/a65c5fff57ac0823217971d275b5543a.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>Testerhome 迁移至美团云！</p>
                        <div class="timeline-info">
                            主机问题一直是我们头疼的问题，最早思寒和恒温合买了 linode 东京机房，但是随着国内监管越来越严厉，境外 ip 访问越来越慢，
                            感谢美团云在那个时候给 TesterHome 的赞助。
                        </div>
                    </div>
                </li>


                <li>
                    <time class="cbp_tmtime" datetime="2014年4月05日"><span>4月5日</span> <span>2014年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/1fc70c4ebeb99ad6dfe7e96ba6cf83d0.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>Testerhome 迁移至UCloud！</p>
                        <div class="timeline-info">
                            美团云在三个月后，终止了赞助。虽然论坛无论人数和流量都在稳步上升，遗憾的是，毕竟移动测试是一个新兴的测试领域，
                            另外软件测试本身在 IT 界的话语权也不重，TesterHome 未能给美团云带来很好的广告效应，我们没有得到美团云之后的赞助。
                            我在微博上@了Ucloud，立马得到了 Ucloud 的李斌（@esplendo） 的私信，表示可以提供赞助。通过和他的沟通得知，
                            UCloud 对于所有做技术的社区都有扶持的计划。

                            感谢 UCloud 对技术社区的支持！
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2014年4月23日"><span>4月23日</span> <span>2014年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/e9b5c7ad27ed84c9e29888a190062de5.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>TesterHome 在线广播第一期开始啦～～</p>
                        <div class="timeline-info">
                            测试小道消息的诞生是受了 TeaHour.fm 的影响，我们一直想做，但是没有落实。感谢 Monkey 真正的把它给做了起来。在坚持了一年之后，目前
                            处于歇息期，希望有强大的主播加入我们，把小道消息 own 起来，众主创已经分身乏术了。
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2015年4月2日"><span>4月2日</span> <span>2015年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/b2999422cdd6e858b68c0343413d97b1.jpg"/></div>
                    <div class="cbp_tmlabel">
                        <p>Mobile Testing Summit China 2015 启动！</p>
                        <div class="timeline-info">
                            一场由 TesterHome 主办的关于移动互联网测试技术的盛会开始筹备！
                        </div>
                    </div>
                </li>

                <li>
                    <time class="cbp_tmtime" datetime="2015年5月8日"><span>5月8日</span> <span>2015年</span></time>
                    <div class="cbp_tmicon"><img src="http://testerhome.com/photo/2015/eb0060178cd29db4b98cbda1ec6082df.png"/></div>
                    <div class="cbp_tmlabel">
                        <p>TesterHome page view 过万！</p>
                        <div class="timeline-info">
                            Testerhome 的流量从量变到质变，5月份开始突然 pv 过了 20000！
                            感谢社区所有人！
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
