@import "vars";
#home_index { line-height:160%; }

h2 {
  font-size: 12px;
  color: #999;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics { float:left; width:450px; }
#hot_topics { float:right; width:450px; }

.node-topics {
  margin-bottom:0px;
  .head { display:none; }
}
.location-list {
    .name {
        a { color: #666; margin: 6px; display: inline-block; }
    }
}

.home-icons {
  .item {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    opacity: 0.75;

    .icon {
      display: block;
      a { display: block; padding: 20px 15px; }
      .fa { font-size: 60px; }
    }
    .text {
      display: block;
      text-align: left;
      background: #F5F5F5;
      border-top: 1px solid #E9E9E9;
      font-size: 14px; font-weight:bold;

      a { display:block; color: #666; padding: 6px 15px;  }
      a:hover { text-decoration: none; }
      .fa { margin-top: 3px; }
      border-radius: 0 0 3px 3px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .item1 {
    .icon {
      .fa { color: $redLight; }
    }
  }
  .item3 {
    .icon {
      .fa { color: $blueLight; }
    }
  }
  .item2 {
    .icon {
      .fa { color: $greenLight; }
    }
  }
  .item4 {
    .icon {
      .fa { color: $yellowLight; }
    }
  }

}

.timeline {

  img {
    width: 100%;
  }
  /* Timeline for schedule */
  .cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: left;
  }

  /* The line */
  .cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #d7cded;
    left: 20%;
    margin-left: -10px;
  }

  .cbp_tmtimeline > li {
    position: relative;
  }

  /* The date/time */
  .cbp_tmtimeline > li .cbp_tmtime {
    opacity: 1;
    /*wait for schedule*/
    display: block;
    width: 25%;
    padding-right: 130px;
    position: absolute;
    box-sizing: border-box;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #c4c2c8;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #8977af;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #9f8bcc;
  }

  /* Right content */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #8977af;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #9f8bcc;
  }

  .cbp_tmtimeline > li .cbp_tmlabel h2 {
    font-weight: normal;
    margin: 0;
  }

  .cbp_tmtimeline > li .cbp_tmlabel p {
    margin: 8px 0;
  }

  .cbp_tmtimeline > li .cbp_tmlabel a:hover {
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
  }

  .cbp_tmtimeline > li .cbp_tmlabel .timeline-info {
    color: #443a59;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-top: 20px;
    padding: 20px 0 0 0;
    border-top: 1px solid #d8ceed;
    border-top-color: rgba(255, 255, 255, 0.4);
  }

  /* The triangle */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #8977af;
    border-width: 10px;
    top: 20px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #9f8bcc;
  }

  /* The icons */
  .cbp_tmtimeline > li .cbp_tmicon {
    width: 60px;
    height: 60px;
    font-size: 1.4em;
    line-height: 40px;
    position: absolute;
    background: #9f8bcc;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #d7cded;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -35px;
  }

  .cbp_tmtimeline > li .cbp_tmicon > img {
    border-radius: 50%;
    vertical-align: inherit;
  }

  @media screen and (max-width: 65.375em) {
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
      font-size: 1.5em;
    }
  }
  @media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
      display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
      text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
      margin: 0 0 30px 0;
      padding: 1em;
      font-weight: 400;
      font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
      right: auto;
      left: 20px;
      border-right-color: transparent;
      border-bottom-color: #8977af;
      top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: transparent;
      border-bottom-color: #9f8bcc;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
      position: relative;
      float: right;
      left: auto;
      margin: -75px 5px 0 0px;
    }
  }
}
